<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">

    <title>The HTML5 Herald</title>
    <meta name="description" content="The HTML5 Herald">
    <meta name="author" content="SitePoint">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>


</head>

<body>
    <div class="container-fluid">
        <div class="card" style="width: 30rem;">
            <img class="card-img-top" src="/test.jpg" alt="Card image cap" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                aria-controls="collapseExample">
            <div class="card-block">
                <div class="collapse" id="collapseExample">
                    <div class="card card-block">
                        <form action="http://localhost:8080/api">
                            <p>Soße</p>
                            <input type="checkbox" name="sosse1" value="Knoblauch">Knoblauch<br>
                            <input type="checkbox" name="sosse2" value="Kraeuter">Kräuter<br>
                            <input type="checkbox" name="sosse3" value="Scharf">Scharf<br>
                            <a>Salat</a><br>
                            <input type="checkbox" name="salat1" value="Knoblauch">Zwiebeln<br>
                            <input type="checkbox" name="salat2" value="Kraeuter">Rotkraut<br>
                            <input type="checkbox" name="salat3" value="Scharf">Tomaten<br>
                            <input type="submit">
                          </form> 
                    </div>
                </div>
            </div>
        </div>
</body>

</html>