<!doctype html>
<html lang="en">

<head>
    <title>Doener-Board</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb"
        crossorigin="anonymous">
</head>

<body>

    <div class="container-fluid">
            <img src="images/test2.jpg" class="img-fluid" alt="Responsive image" data-toggle="collapse" href="#collaps1" aria-expanded="false" aria-controls="collaps1">
            <div class="collapse" id="collaps1">
                <p>So I have been used to this in C# for quite some time now, but having it come to Javascript (and other languages). Here’s the cool thing…there are a number of ways to make it work. If you press Ctrl while hovering over a symbol, you will get a quick popup of the definition. A quick click while you are holding the control (Ctrl-Click) and you are now at that point in the code where the symbol was defined or Ctrl-Alt-Click to open the definition in a new side window. Unfortunately, there is no quick way to go back to where you were working, so I prefer the hover or the new side window approach to editing the files.</p>
        </div>

        <img src="images/test2.jpg" class="img-fluid" alt="Responsive image" data-toggle="collapse" href="#collaps2" aria-expanded="false" aria-controls="collaps2">
        <div class="collapse" id="collaps2">
            <p>So I have been used to this in C# for quite some time now, but having it come to Javascript (and other languages). Here’s the cool thing…there are a number of ways to make it work. If you press Ctrl while hovering over a symbol, you will get a quick popup of the definition. A quick click while you are holding the control (Ctrl-Click) and you are now at that point in the code where the symbol was defined or Ctrl-Alt-Click to open the definition in a new side window. Unfortunately, there is no quick way to go back to where you were working, so I prefer the hover or the new side window approach to editing the files.</p>
    </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ"
        crossorigin="anonymous"></script>
</body>

</html>